
#scoreDiv{
    margin: 0 auto;
    width: 200px;
    text-align: center;
}

#scoreRes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 
#whoIsWinner{
    margin: 0px auto;
    width: 300px;
    text-align: center;
}

#mainAction{
    margin: 0 auto;
    width: 550px;
}

#mainAction h4{
    text-align: center;
}

img{
    padding: 40px;
}